* {
  font-family: helveticaR;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* start of global values */
/* fonts */
@font-face {
  font-family: helveticaL;
  src: url(./fonts/HelveticaNowDisplay-Light.ttf);
}

@font-face {
  font-family: helveticaM;
  src: url(./fonts/HelveticaNowDisplay-Medium.ttf);
}

@font-face {
  font-family: helveticaR;
  src: url(./fonts/HelveticaNowDisplay-Regular.ttf);
}

@font-face {
  font-family: helveticaB;
  src: url(./fonts/HelveticaNowDisplay-ExtraBold.ttf);
}

/* fonts */


:root {
  --main-color: gray;
  --secondary-color: #ccec3f;
}

h1,
h2,
h3 {
  font-family: helveticaB;
}

p {
  line-height: 150%;
  font-size: 20px;
  font-family: helveticaR;
  color: rgba(0, 0, 0, 0.6);

}

button {
  font-family: helveticaB;
}

img {
  max-width: 100%;
}

.sections {
  padding: 1em;
}

.section-header-h2 {
  padding: 0 .5em;
  margin: 0;
  letter-spacing: 2px;
  position: relative;
  font-family: helveticaB;
  font-size: 2em;
}

.section-header-h2::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 10%;
  background: var(--secondary-color);
  bottom: -30%;
}

/* buttons */
.btn-span {
  line-height: 150%;
  font-size: 20px;
  font-family: helveticaM;
  color: rgba(0, 0, 0, 0.5);
  margin: 4px;
}

.btn {
  padding: 10px 25px;
  font-size: .9em;
  position: relative;
  margin-top: 2em;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 1s ease;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 5%;
  background: var(--secondary-color);
}

.btn:active {
  transform: scale(.9);
}

/* end of buttons */


/* end of global values */

/* navigation ********************/
.logo img {
  height: 3em;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  align-items: center;
  min-height: 8vh;
  position: fixed;
  width: 100%;
  z-index: 5;
}


.nav-links {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  top: 8vh;
  height: 92vh;
  width: 50%;
  transform: translateX(100%);
  list-style: none;
  text-decoration: none;
  transition: transform .4s ease-in;
  z-index: 1;
  border: 1px solid rgb(198, 198, 198);

}

.nav-links li {
  opacity: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2em;
  color: #000;
}



.nav-active {
  transform: translateX(0%);
}

.burger {
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: all 0.3s ease;
}
.burger .line2{
  width: 20px;}

/* animation for the links of navigation ********************/
@keyframes navLinkFade {

  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* animation for the burgermenu of navigation********************/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.bot-navigation {
  position: fixed;
  bottom: 0;
  height: 100px;
  background-color: #fff;
  color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bot-navigation div:active {
  transform: scale(.9);
}

.bot-navigation div {
  cursor: pointer;
  font-size: 1.28em;

}

/* cubes and animation of cubes */
.mysquare {
  position: absolute;
  pointer-events: none;
  background: #fff;
  filter: drop-shadow(10px 10px 15px rgba(190, 190, 190, 0.7));
  animation: animate 5s linear infinite;
  z-index: 0;
  display: none;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(-500%) rotate(360deg);
  }

}

/*cubes and animation of cubes ends here */

/*hero starts here mobile version */

.heroSection {
  height: 100vh;
  margin: 0 0 3em 1em;
}
.landingImg{
max-width: 90%;
margin-top: 1.5em;
}

.heroSection h2 {
  display: none;
}

.heroSection h1 {
  font-weight: 900;
  font-size: 3rem;
  margin: .2em 0;

}

.heroWrapper{
  margin-top: 9em;
  animation: fade 1.5s  ease-in-out;

}

.arrowDown {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  font-size: 3em;
  animation: jump 1s infinite alternate;
  margin-top: 3em;
  display: none;
}

@keyframes jump {
  to {
    transform: translateY(30px);

  }

  from {
    transform: translateY(0px);

  }
}


@keyframes fade {
to{
  transform: translateY(0);
  opacity: 1;
}from{
  transform: translateY(3em);
  opacity: 0;
}
}

/* hero ends here mobile version */

/* portfolio section starts here */
.project-imgHogw,.project-imgLiss,.project-imgAnima,.project-img4{
  height: 400px;
  width: 100%;
  margin: 0 auto;
  margin: 1em 0;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.project-imgHogw{
  background: url(./images/hogwarts.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.project-imgLiss{
  background: url(./images/liss.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.project-imgAnima{
  background: url(./images/anima.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* .project-img4{
  
} */

.project-description h2 {
  font-size: 2.3rem;
  margin-bottom: .2em;

}

/* portfolio section ends here */

/* About me section starts here */

.about-h2 {
  margin-top:3em;
  margin-bottom: .5em;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me img {
  max-width: 90%;
  height: auto;
  margin: 2em 0;
  filter: grayscale(100%);
}
#about{
  animation: fade 1.5s  ease-in-out;
}

/* about me section ends here */



/* skills section starts here */
.skills-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 2em;


}

/* skills section ends here */


/* footer starts here */

.footer{
  width: 100%;
  height: 50px;
  margin-top: 1em;
  font-size: 1.3em;
  color: var(--main-color);
  text-align: right;
}
/* footer ends here */


/* tablet viewport mediaquerry********************/
@media screen and (min-width: 600px) {

  /* sections  */
  .sections {
    padding: 2em 4em;
  }

  .section-header-h2 {
    padding: 0 2em;
  }

  /* end ofsections  */


  .about-me img {
    max-width: 80%;
  }


}




@media screen and (min-width: 700px) {

  /*** global elements */

  .btn:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);


  }

  .btn:hover::before {
    width: 100%;
    transition: all .5s ease-in-out;
    border: 0;
    z-index: -1;


  }

  /*** global elements */


  /* nav starts here */

  .burger {
    display: none;
  }

  .logo img {
    height: 3em;
    margin-top: 1em;
  }

  nav {
    background-color: #fff;
  }

  .nav-links {
    border: none;
    position: static;
    flex-direction: row;
    width: 50%;
    height: 8vh;
    justify-content: space-around;
    transform: translateX(0);
  }



  .nav-links li {
    opacity: 1;

  }

  .nav-links a {
    color: #000;

  }

  .nav-links a:hover {
    color: rgb(100, 100, 100);
    transition: .5s ease-out;
  }

  .logo {
    color: black;
  }

  .bot-navigation {
    display: none;
  }

  /* hero section starts here */
  .heroSection {
    height: 85vh;
  }

 .heroWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }


  .landingImg{
    max-width: 50%;    
    }

  .heroSection h1 {
    font-size: 5rem;
  }

  /* portfolio section starts here */
  body {
    max-width: 1200px;
    margin: 0 auto;
  }


  .section-header-h2 {
    font-size: 3em;
    padding: 0 .3em;
  }

  .sections {
    padding: 2em .9em;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: " description imgage";
    grid-gap: 2em;
  }

  .project-description {
    grid-area: description;
    margin-top: 4em;

  }

  .project-description p {
    max-width: 45ch;
  }


  .project-img {
    grid-area: imgage;
  }

  /* portfolio ends here */

  /* About me starts  here */
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;

  }

  .section-description {
    margin-top: 5em;
  }


  /* About me ends  here */


  /* contact starts here */

  .contact-grid {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

/* contact ends here */

/* Desktop viewport mediaquerry********************/
@media screen and (min-width: 1024px) {
  .nav-links {
    width: 70%;
    padding: 0 10em;
  }

  /* Hero section starts here */

  .heroSection h1 {
    font-size: 5rem;
  position: relative;
  }

  .heroSection h2 {
    letter-spacing: .4em;
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 7rem;
    color: #fff;
    font-weight: 900;
    filter: drop-shadow(10px 10px 10px rgb(190, 190, 190));
    opacity: .4;
    font-family: helveticaB;
    width: 100%;
    text-align: center;
    display: block;
  }

  .arrowDown {
    margin-top: 6em;
    display: block;
  }

  /* Hero section ends here */


  /* about section starts here */

  .about-me img {
    max-width: 90%;
  }

  /* about section ends here */

}
@media screen and (min-width: 1280px){
  /* navbar and a tags */

  .nav-links li{
  position: relative;
  }

  .nav-links  {
    width: 85%;
    padding: 0 22em;
  }

  .nav-links li a::after {
    content: '';
    position: absolute;
    background: var(--secondary-color);
    bottom: -15%;
    left: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 245ms ease-in;
    transform-origin: right;
}

.nav-links li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* square in landing screen */
  .mysquare{
    display: block;
  z-index: -1;  }

  /* hero section */
  .heroSection h2{
    top: -10%;
    font-size: 10.5rem;

  }
}